button {
  background-color: transparent;
  color:  white;
  border: none;
  padding: 1rem;
  font-size: clamp(14px, 1.2vw, 20px);
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  width: auto;
  align-self: center;
  text-shadow: 0 0 20px #f004d1;
  color:#f004d1;
  transition: transform 0.3s ease;
  border-bottom: #f004d117 1px solid;
}
button:hover, #file-label:hover {
  transform: scale(1.1);
  color:#ff7fee;
  animation: none;
}