* {
  box-sizing: border-box;
  font-weight: 100;
  letter-spacing: 2px;
  user-select: none;
}
html::-webkit-scrollbar {
    display: none;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: #2A1427;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #eeecec;
}
.layout {     
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 20px 1fr 8%;
    grid-template-rows: 10% 20px 1fr 10%;
    gap: 16px;
}
.header {  
    box-shadow: inset 0 0 40px #2A1427;
    border-radius: 16px;
    grid-column: 1 / 5;
    padding: 16px;
    background-color: #2A0024;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
     font-size: 40px;
  text-align: center;
  animation: logoGlow 2s infinite alternate ease-in-out;
}
.sidebar {  
    box-shadow: inset 0 0 40px #2A1427;

    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 16px;
    background-color: #58004c80;
    border-radius: 16px;
    box-shadow: #2A1427 inner;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30%;
    padding-bottom: 30%;
}   

.main {  
    box-shadow: inset 0 0 40px #2A1427;

    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #58004c80;
    border-radius: 16px;
    transition: transform 0.4s ease, box-shadow 10s ease;
}
.main:hover {
    transform: scale(1.005);
    box-shadow: 0 0 40px #dc70ce41;

}
@keyframes logoGlow {
    0%, 100% { filter: drop-shadow(0 0 10px #DC70CE) drop-shadow(0 0 20px #DC70CE); transform: translateX(0); }
    50% { filter: drop-shadow(0 0 15px #DC70CE) drop-shadow(0 0 30px #DC70CE); transform: translateX(2px); }
}