.zasoby{
    display: flex; flex-direction: column; gap: 4px;

}
.legend{
    display: grid; grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 40px 0.5fr;
    margin-left: 3rem;
    margin-right: 3rem;
    padding:1rem;
    border-bottom:1px solid #fefefe5d ;
}
.legendText{
    margin: auto;
}
.file-list{
    display: flex; flex-direction: column; gap: 4px;
}
.content-header{
    box-shadow: inset 0 0 40px #2A1427;
    margin:0;
    background-color: #ff03dd8b;
    border-radius: 16px;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

