.menu-wrapper {
  position: relative;
  display: inline-block;
}

.menu-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

.menu-dropdown {
  position: absolute;
  right: 0;
  top: 25px;
  background: #ff03dd8b;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 6px 0;
  z-index: 10;
  width: 140px;
  opacity: 0; pointer-events: none; transform: translateY(5px); transition: opacity 0.2s ease, transform 0.2s ease;
}
.menu-dropdown.open { opacity: 1; pointer-events: auto; transform: translateY(0); }



.menu-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.menu-item:hover {
  background: #ff03ddae;
}
.file-card{
  margin-left: 3rem;
  margin-right: 3rem;
  display: grid; grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 40px 0.5fr;
  border-bottom:1px solid #B10099 ;

}
.file-info{
  margin: auto;
}
